package templ

import "github.com/a-h/templ"

templ BaseLayout(title string, content templ.Component) {
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{ title }</title>
    <link rel="stylesheet" href="/static/app.css">
  </head>
  <body class="min-h-screen bg-slate-900 text-slate-100">
    <main class="min-h-screen">
      { content }
    </main>
  </body>
</html>
}
